:root {
    --background: #ffffff;
    --button_bg: #B25068;
    --button_bg_hover: #a83250;
    --danger: #fb4a4a;
}
* {
    background-color: var(--background);
}

body {
    width: 150px;
}

form {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    margin: auto;
}

#ticketId {
    padding: 8px 16px;
    border: 2px solid #e8e8e8;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}

#ticketId:active, #ticketId:focus {
    border: 2px solid #282828;
}

#btn {
    background-color: var(--button_bg);
    padding: 8px 16px;
    margin-top: 16px;
    border: 1px solid var(--button_bg);
    outline: 1px solid var(--button_bg);
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s;
    display: none;
}

#btn:hover {
    background-color: var(--button_bg_hover);
    border: 2px solid var(--button_bg_hover);
    outline: 1px solid var(--button_bg_hover);

}

.input_error {
    border: 2px solid var(--danger) !important;
}